mixin horizontal_action_buttons(colour, icon, buttons) 
  .fixed-action-btn.horizontal(style='bottom:45px; right:24px;')
    a.btn-floating.btn-large.z-depth-3(class=colour)
      i(class='fa ' + icon, aria-hidden='true') 
    ul
      each button in buttons 
        li
          span&attributes(button.attributes)
            i(class='fa ' + button.icon, aria-hidden='true')
