mixin modal_button(btn_attr)
  //change green to colour
  - value = btn_attr.hasOwnProperty('value') ? btn_attr.value : '';
  i.modal-action.modal-close.wave-effect.waves-green.btn-flat&attributes(btn_attr)= value

mixin modal(colour, yes, no)
  .modal&attributes(attributes)  
    .modal-content(class=colour)
      if block
        block
    .modal-footer(class=colour)
      +modal_button(yes) 
      +modal_button(no)
