footer.page-footer.brown.darken-1
  .container
    .row
      .col.l6.s12
        h5.white-text From the barber shop
        p.grey-text.text-lighten-4 A crazy haired developer, caught inside a crazier haired developer
      .col.l3.s12
        h5.white-text Find out more
        ul
          li
            a.white-text(href='https://twitter.com/mfmbarber') Twitter
          li
            a.white-text(href='https://github.com/matt-barber') Github
      .col.l3.s12
        h5.white-text Other crazy contraptions
        ul
          li
            a.white-text(href='#!') Watch this space
  .footer-copyright
    .container
      Made with love
      span.orange-text.text-lighten-3
        all code free to use
