head
  include meta
  title Make us a brew
  link(href='../Font-Awesome/css/font-awesome.min.css' rel='stylesheet')
  link(href='css/materialize.min.css' rel='stylesheet')
  link(href='css/style.css' rel='stylesheet')
  -
    apple_favicons = {rel: 'apple-touch-icon', dimen: [57, 60, 72, 76, 114, 152, 180]};
    std_favicons = [32, 96, 16]; 
  
  +apple_favicons(apple_favicons)
  +favicons(std_favicons)

  link(href='img/favicons/manifest.json' rel='manifest')
  meta(name='msapplication-TileColor', content='#ffffff')
  meta(name='msapplication-TileImage', content='img/favicons/ms-icon-144x144.png')
