<!-- Search engines -->
meta(name="description" content="A brew picking app, tea, coffee, hot chocolate, poison, pick a person to make a drink")
<!-- Google Plus -->
<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<!-- html itemscope itemtype="http://schema.org/{CONTENT_TYPE}" -->
meta(itemprop="name" content="Make us a brew")
meta(itemprop="description" content="A brew picking app, tea, coffee, hot chocolate, poison, pick a person to make a drink")
<!-- Twitter -->
meta(name="twitter:title" content="Make us a brew")
meta(name="twitter:description" content="A brew picking app, tea, coffee, hot chocolate, poison, pick a person to make a drink")
meta(name="twitter:creator" content="@mfmbarber")
<!-- Open Graph General (Facebook & Pinterest) -->
meta(property="og:url" content="https://matt-barber.github.io/make-us-a-brew")
meta(property="og:title" content="Make us a brew")
meta(property="og:description" content="A brew picking app, tea, coffee, hot chocolate, poison, pick a person to make a drink")
meta(property="og:site_name" content="Make us a brew")
meta(property="og:type" content="Tool")
meta(property="og:locale" content="en_GB")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
