.brand-logo {
  background-color:black;
  color:#6d4c41 !important;
  font-weight: bolder;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.modal {
  width: 500px;
}
.modal-content > h4 {
  background-color: black;
  color: #cfd8dc !important;
  font-weight:bolder;
}
::-webkit-input-placeholder, label { /* WebKit, Blink, Edge */
    color:    #444 !important;
}
:-moz-placeholder, label { /* Mozilla Firefox 4 to 18 */
   color:    #444 !important;
   opacity:  1 !important;
}
::-moz-placeholder, label { /* Mozilla Firefox 19+ */
   color:    #444 !important;
   opacity:  1 !important;
}
:-ms-input-placeholder, label { /* Internet Explorer 10-11 */
   color:    #444 !important;
}
.jumbotron-icon .fa-6 {
    font-size: 20em;
}
.parallax-container {
    height: 250px;
}

.blurred{
     /* Any browser which supports CSS3 */
    filter: blur(5px);

    /* Firefox */
    filter: url("blur.svg#gaussian_blur");

    /* Webkit */
    -webkit-filter: blur(5px);

    /* Opera */
    -o-filter: blur(7px);
}
.fa {
  padding:2px;
}
/* Icon bounce */
#selector_btn:hover > .fa {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 1s infinite linear;
    -o-animation: bounce 1s infinite linear;
    -webkit-animation: bounce 1s infinite linear;
    animation: bounce 1s infinite linear;
}

@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.1em; }
    70% { top: -0.2em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.1em; }
    70% { top: -0.2em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.1em; }
    70% { top: -0.2em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.1em; }
    70% { top: -0.2em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.1em; }
    70% { top: -0.2em; }
    100% { top: 0; }
}

/*
  Table handling base state
*/
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 6px;
  border-bottom: 1px solid black;
}
/**
 * Mobile device scaling responsive
**/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    /* Mobile giphy image */
    #giphy {
      min-width:70%;
      max-width: 70%;
    }
    .modal {
      width: 80%;
    }

    .parallax-container {
      height: 150px;
    }

    /* Set all sub-elements to block types */
    table, thead, tbody, tr, th, td, tr {
        display:block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    /* style our tr's and td's */
    tr {
        border-top: 1px solid black;
    }

    td {
        border: none;
        border-bottom: 1px solid #999;
        position: relative;
        padding-left: 50%;
    }
    /* use the before selector to insert before our 'tds' */
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    /*
	     Label the data before the TD tag - can't implicitly set this - maybe SCSS
	  */
	    td:nth-of-type(1):before { content: "Name"; font-weight: bold;}
	    td:nth-of-type(2):before { content: "Drink"; font-weight: bold;}
	    td:nth-of-type(3):before { content: "Milk"; font-weight: bold;}
      td:nth-of-type(4):before { content: "Sugar(s)"; font-weight: bold;}
}
